{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="lZIw_qwtqs6BMVMFq4bOnXI5fVShSSWHOD7Rc8tV6y7zv3-b_mb6rbYHP1_R_PnaHlwQGPt_YuEAC5wLgyKaQg==">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="description" content="Арахисовая паста для детей и взрослых в Киеве и Украине. Большой ассортимент: арахисовая паста, масло и арахис можете приобрести уже сегодня по выгодной цене!">
    <meta name="keywords" content="">
    <link href="{% static '/assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/site.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/page/page.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/template.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/font/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <link rel='stylesheet' href='https://apimgmtstorelinmtekiynqw.blob.core.windows.net/content/MediaLibrary/Widget/Tracking/styles/tracking.css' />



</head>
    <body>

        {% block navbar %}
        {% include 'core/navbar_ru.html' %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% include 'core/footer_ru.html' %}
        {% endblock %}
        {% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}

        <script src="{% static '/assets/js/jquery-1.11.1.js' %}"></script>
        <script src="{% static '/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static '/assets/js/wow.min.js' %}"></script>
        <script src="{% static '/assets/js/retina-1.1.0.min.js' %}"></script>
        <script src="{% static '/assets/js/scripts.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static '/assets/js/jquery.js' %}"></script>
        <script src="{% static '/assets/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static '/assets/js/init.js' %}"></script>
        <script type='text/javascript' id='track' charset='utf-8' data-lang='ua' apiKey='05300865fa94a38241008d435a4329d3' data-town='city-not-default' data-town-name='undefined' data-town-id='undefined' src='https://apimgmtstorelinmtekiynqw.blob.core.windows.net/content/MediaLibrary/Widget/Tracking/dist/track.min.js'></script>



    </body>

</html>
