{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('Про компанію') }}{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <article>
            <div class="contact_us col-sm-6 col-sm-offset-3">
                <div class="wpb_wrapper">
                    <h1>Про Pasta Family</h1>
                    <div class="line"></div>
                    <p>PastaFamily - прогресивна компанія в сфері харчування, одним з напрямків є виробництво різних паст.<br/><br>
                        {% if photo.photo_one %}
                        <img class="aligncenter" src="{{ photo.photo_one.url }}" /><br/><br>
                                                <div class="line"></div>
                        {% endif %}
                    <p>Ми виробляємо високоякісну продукцію, що відповідає всім стандартам якості, і це підтверджують різні сертифікати.<br />
                    <p>Нашу роботу ми почали з арахісової пасти, так як арахісова паста користується особливою популярністю в Америці, Канаді та ряді інших країн, де саме цей продукт є невід'ємною частиною будь-якого сніданку.</p>
                    <p>Нами почалося виробництво цього продукту в Україні за своїми унікальними технологіями, щоб кожен бажаючий не лише чув про арахісову пасту, а й мав можливість спробувати її.</p>
                    <br><p><img class="aligncenter" src="{{ photo.photo_two.url }}"></p>
                    <br><div class="line"></div>
                    <p>Нашу унікальність забезпечує сорт арахісу, який робить наш рецепт не схожим на інші, а поєднання інгредієнтів за спеціально розробленими пропорціями забезпечує дуже високу корисність нашого продукту для кожної людини.</p>
                    <p>Компанія дотримується високих стандартів якості продукції, приділяючи увагу сировини і технології його обробки.  Це підтверджено сертифікатами якості на товари.</p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
