{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('О компании') }}{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <article>
            <div class="contact_us col-sm-6 col-sm-offset-3">
                <div class="wpb_wrapper">
                    <h1>О PASTA FAMILY</h1>
                    <div class="line"></div>
                    <p>PastaFamily — прогрессивная компания в сфере питания, одним из направлений которой является производство различных паст.<br/><br>
                        {% if photo.photo_one %}
                        <img class="aligncenter" src="{{ photo.photo_one.url }}" /><br/><br>
                                                <div class="line"></div>
                        {% endif %}
                    <p>Мы производим высококачественную продукцию, соответствующую всем стандартам качества, и это подтверждают различные сертификаты.<br />
                    <p>Нашу работу мы начали с арахисовой пасты, так как арахисовая паста пользуется особой популярностью в Америке, Канаде и ряде других стран, где именно этот продукт является неотъемлемой частью любого завтрака.</p>
                    <p>Нами началось производство этого продукта в Украине по своим уникальным технологиям, чтобы каждый желающий не только слышал об арахисовой пасте, но и имел возможность попробовать ее.</p>
                    <br><p><img class="aligncenter" src="{{ photo.photo_two.url }}"></p>
                    <br><div class="line"></div>
                    <p>Нашу уникальность обеспечивает сорт арахиса, который делает наш рецепт не похожим на другие, а сочетание ингредиентов по специально разработанным пропорциями обеспечивает очень высокую полезность нашего продукта для каждого человека.</p>
                    <p>Компания придерживается высоких стандартов качества продукции, уделяя внимание сырью и технологии его обработки. Это подтверждено сертификатами качества на товары.</p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
