{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('Доставка') }}{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <article>
            <div class="contact_us col-sm-6 col-sm-offset-3">
                <div class="wpb_wrapper">
                    <h1>СПОСОБИ ДОСТАВКИ І ОПЛАТИ</h1>
                    <div class="line"></div>
                    <p>Крім покупки нашого продукту в торгових точках, Ви також маєте можливість замовити наш товар зручною для Вас службою доставки.<br/><br>
                        <b>Зверніть увагу:</b></p><br>
                    <p>— Замовлення, оплачені до 16:00, відправляються в той же день, після 16:00 на наступний робочий день.<br/><br></p>

                        <img alt="Нова почта" class="aligncenter" src="{% static '/assets/img/np.png' %}" /><br/><br>
                                                <div class="line"></div>
                    <br><b><p>Основні положення:</b><br><br></p>
                    <p>&mdash; Замовлення може безкоштовно зберігатися на складі «Нової Пошти» 5 робочих днів, включаючи день, коли він повинен бути забраний одержувачем.</p>
                    <br><p><img alt="Укрпочта" class="aligncenter" src="{% static '/assets/img/ukr.jpg' %}" /></p>
                    <div class="line"></div><br>
                    <p>Доставка «Укрпоштою» (замовлення забирається в поштовому відділенні) Замовлення буде доставлена до Вашого відділення Укрпошти протягом 4-7 днів.  Як тільки замовлення дійде до пункту призначення, за адресою (вказаною Вами під час оформлення замовлення) прийде повідомлення.  Після цього Вам необхідно з повідомленням і паспортом прийти до поштового відділення, де Ви зможете отримати і оплатити своє замовлення (в разі оплати післяплатою).</p>
                    <p><br><b>Основні положення:</b></p><br>
                    <p>— Доставка замовлень поштою здійснюється по всій території України.<br />
                        &mdash; Оформлене замовлення буде протягом 24 годин (з моменту оформлення ) передане до відділення Укрпошти.  Подальша швидкість доставки замовлення залежить виключно від<br /> Укрпошти.</p>
                    <p><br><b>Зверніть увагу:</b></p><br>
                    <p>— Обов'язково перевірте правильність написання поштового індексу</p>
                    <p>— Протягом 1 робочого дня з моменту надходження посилки в Ваше поштове відділення Укрпошта зобов'язана повідомити Вам про те, що Ви можете забрати свою посилку.  Якщо Ви не забрали посилку протягом 3 робочих днів, Вам під розпис повинні вручити повторне повідомлення.</p>
                    <p>— Якщо протягом 7-10 днів Ви не отримали повідомлення, то зверніться до відділення Укрпошти</p>
                    <p>— Якщо працівники поштової служби недобросовісно виконували свої зобов'язання під час доставки Вашого замовлення, то просимо повідомляти нам про проблеми.  Прохання описувати свою проблему якомога детальніше.  Не забудьте вказати ПІБ та адресу замовника, номер поштового відділення, ПІБ співробітника пошти, а також історію проблеми із замовленням.</p>
                    <p><br><b>ОПЛАТА ЗАМОВЛЕННЯ</b></p><br>
                    <p>Ви маєте змогу обрати найзручніший спосіб оплати для Вас:<br /><br>
                         1. Платіжною системою LiqPay, під час оформлення замовлення оберіть спосіб оплати «платіжною системою LiqPay»<br />
                         2. Банківським переказом на картку, під час оформлення замовлення оберіть спосіб оплати «банківською картою» і вам на вказану пошту прийде лист з реквізитами карти ПриватБанку (замовлення Вам буде відправлено після фактичного надходження грошей на рахунок)<br />
                         3. Замовлення можна оплатити післяплатою - накладеним платежем (в момент отримання замовлення), під час оформлення замовлення оберіть спосіб оплати «накладним платежем»</p><br>
                    <p><b>Хочемо звернути увагу, що за повної передоплати Ви економите на оплаті зворотньої доставки коштів!!!<br>
                    Нова пошта - 20 грн.  + 2% від суми переказу <br>
                    Укр пошта - 10 грн. + 2% від суми переказу</b></p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
