{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('Доставка') }}{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <article>
            <div class="contact_us col-sm-6 col-sm-offset-3">
                <div class="wpb_wrapper">
                    <h1>СПОСОБИ ДОСТАВКИ І ОПЛАТИ</h1>
                    <div class="line"></div>
                    <p>Кроме покупки нашего продукта в торговых точках, Вы также имеете возможность заказать наш товар через удобную для Вас службу доставки.<br/><br>
                        <b>Обратите внимание:</b></p><br>
                    <p>— Заказы, оплаченные до 16:00, отправляются в тот же день, после 16:00 на следующий рабочий день.<br/><br></p>

                        <img alt="Нова почта" class="aligncenter" src="{% static '/assets/img/np.png' %}" /><br/><br>
                                                <div class="line"></div>
                    <br><b><p>Основные положения:</b><br><br></p>
                    <p>— Заказ может бесплатно храниться на составе «Новой Почты» 5 рабочих дней, включая день, когда он должен быть забран получателем.</p>
                    <br><p><img alt="Укрпочта" class="aligncenter" src="{% static '/assets/img/ukr.jpg' %}" /></p>
                    <div class="line"></div><br>
                    <p>Доставка «Укрпочтой» (заказ забирается в почтовом отделении) Заказа будет доставлена в Ваше отделение Укрпочты в течение 4-7 дней. Как только заказ дойдет до пункта назначения, по адресу (указанный Вами во время оформления заказа) придет сообщение. После этого Вам необходимо с сообщением и паспортом прийти к почтовому отделению, где Вы сможете получить и оплатить свой заказ (в случае оплаты послеоплатой).</p>
                    <p><br><b>Основные положения:</b></p><br>
                    <p>— Доставка заказов по почте осуществляется по всей территории Украине<br />
                        — Оформленный заказ будет в течение 24 часов (с момента оформления заказа) переданный к отделению Укрпочты. Последующая скорость доставки заказа зависит исключительно от <br /> Укрпочты.</p>
                    <p><br><b>Обратите внимание:</b></p><br>
                    <p>— Обязательно проверьте правильность написания почтового индекса</p>
                    <p>— В течение 1 рабочего дня с момента поступления посылки в Ваше почтовое отделение Укрпочта обязана сообщить Вам о том, что Вы можете забрать свою посылку. Если Вы не забрали посылку в течение 3 рабочих дней, Вам под роспись должны вручить повторное сообщение.</p>
                    <p>— Если в течение 7-10 дней Вы не получили сообщения, то обратитесь к отделению Укрпочты</p>
                    <p>— Если работники почтовой службы недобросовестный выполняли свои обязательства во время доставки Вашего заказа, то просим сообщать нам о возникших проблемах. Просьба описывать свою проблему как можно более детально. Не забудьте указать ФИО и адрес заказчика, номер почтового отделения, ФИО сотрудника почты, а так же историю проблемы с заказом.</p>
                    <p><br><b>ОПЛАТА ЗАКАЗА</b></p><br>
                    <p>Вы имеете возможность выбрать самый удобный способ оплаты для Вас<br /><br>
                         1.	Платежной системой Liqpay, во время оформления заказа выберите способ оплаты «платежной системой Liqpay»<br />
                         2.	Банковским переводом на карточку, во время оформления заказа выберите способ оплаты «банковской картой» и вам на указанную почту придет письмо с реквизитами карты ПриватБанка (заказ Вам будет отправлено после фактического поступления денег на счет)<br />
                         3.	Заказ можно оплатить послеоплатой - наложенным платежом (в момент получения заказа), во время оформления заказа выберите способ оплаты «наложенным платежом»</p><br>
                    <p><b>Хотим обратить внимание, что при полной предоплате Вы экономите на оплате обратной доставки средств!!!<br>
                    Новая почта - 20 грн.  + 2% от суммы перевода  <br>
                    Укр почта - 10 грн. + 2% от суммы перевода</b></p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
