{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('Оферта') }}{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <article>
            <div class="contact_us col-sm-6 col-sm-offset-3">
                <div class="wpb_wrapper" align="left">
                    <h1>Основні поняття</h1>
                    <div class="line"></div>
                    <p>• <b>Відвідувач Сайту</b> — особа, що відвідала сайт http://www. http://pasta-family.com.ua/  без мети розміщення замовлення.</p>
                    <p>• <b>Користувач </b> — фізична особа, відвідувач сайту, що приймає умови призначеної для користувача угоди і бажає оформити замовлення на сайті http://pasta-family.com.ua/.</p>
                    <p>• <b>Покупець</b> — користувач, що розмістив замовлення на сайті http://pasta-family.com.ua/ в цілях придбання товару для особистих потреб.</p>
                    <p>• <b>Продавець</b> — фізична особа-підприємець, товар якої  розміщений в інтернет-магазині (товар, що реалізовується  фізичними особами-підприємцями).</p>
                    <p>• <b>Інтернет-магазин </b> — інтернет-сайт, розташований в мережі інтернет за адресою http://pasta-family.com.ua/, де представлені Товари, пропоновані Продавцем для придбання, а також умови оплати і доставки Товарів Покупцям. </p>
                    <p>• <b>Сайт</b> — http://pasta-family.com.ua/</p>
                    <p>• <b>Сторінка Продавця </b> — сторінка Сайту, що містить зведення про умови продажу, доставки і повернення Товарів, що реалізовуються Продавцями.</p>
                    <p>• <b>Товар</b> — продукти харчування і інші товари, представлені до продажу на Сайті Продавця.</p>
                    <p>• <b>Замовлення</b> — належним чином оформлений запит Покупця на придбання і доставку за вказаною Покупцем адресою Товарів, вибраних на Сайті.</p>
                        <br><h2><b>1. Загальні положення </b></h2><br>
                    <p>1. Продавець здійснює продаж Товарів через Інтернет-магазин за адресою http://pasta-family.com.ua/ . </p>
                    <p>2. Замовляючи Товари через інтернет-магазин, Користувач погоджується з умовами продажу Товарів, викладеними нижче (далі – Умови продажу товарів). У разі незгоди Користувач зобов'язаний негайно припинити користування сервісу та покинути сайт http://pasta-family.com.ua/ </p>
                    <p>3. Умови продажу товарів, а також інформація про Товар, подана на Сайті, є публічною офертою у відповідності зі ст. 633 Цивільного кодексу України. </p>
                    <p>4. Ці умови можуть бути змінені Продавцем в односторонньому порядку без повідомлення Користувача/Покупця. Нова редакція Умов набирає чинності з моменту її опублікування на Сайті, якщо не буде передбачено інше. </p>
                    <p>5. Угода (далі – Угода) набирає чинності з моменту відправлення Покупцю Продавцем електронного підтвердження прийняття Замовлення при оформленні Покупцем Замовлення без авторизації на Сайті, а також з моменту прийняття від Покупця Замовлення по телефонах  +38 (096) 144-38-88, +38 (095) 744-38-88.</p>
                    <div class="col-sm-offset-1">
                        <p>1. Договір роздрібної купівлі-продажу Товару вважається укладеним з моменту оформлення замовлення на сайті http://pasta-family.com.ua/ </p>
                        <p>2. Повідомляючи Продавцеві свій e-mail і номер телефону, Відвідувач Сайту/Користувач/Покупець дає згоду на використання зазначених засобів зв'язку Продавцем, а також третіми особами, що залучаються ним для цілей виконання зобов'язань перед Відвідувачами Сайту/Користувачами/Покупцями з метою здійснення розсилок рекламного та інформаційного характеру, що містять інформацію про знижки, майбутніх і діючих акціях та інших заходах Продавця, про передачу замовлення на доставку, а також іншу інформацію, безпосередньо пов'язану з виконанням зобов'язань Покупцем в рамках цієї Публічної оферти. Здійснюючи Замовлення, Користувач/Покупець погоджується з тим, що Продавець може доручити виконання Договору третій особі, при цьому залишаючись відповідальним за його виконання. </p>
                    </div>
                    <p>6. Всі права і зобов'язання за укладеним з Користувачем Договором виникають безпосередньо у Продавця, при цьому Покупець, приймаючи цю Угоду, повністю розуміє та погоджується.</p>
                    <br><h2><b>2. Предмет угоди</b></h2><br>
                    <p>1. Предметом Угоди є надання можливості Користувачу набувати для особистих, сімейних, домашніх і інших потреб, Товари, представлені в каталозі Інтернет-магазину за адресою http://pasta-family.com.ua/ </p>
                    <p>2. Дана Угода поширюється на всі види Товарів і послуг, представлених на Сайті, поки такі пропозиції з описом присутні в каталозі Інтернет-магазину. </p>
                    <br><h2><b>3. Товар і порядок здійснення покупки </b></h2><br>
                    <p>1. Продавець забезпечує наявність на своєму складі Товарів, представлених на Сайті. Супроводжуючі Товар фотографії є простими ілюстраціями до нього та можуть відрізнятися від фактичного зовнішнього вигляду Товару. Супроводжуючі Товар опису/характеристики не претендують на вичерпну інформативність і можуть містити друкарські помилки. </p>
                    <p>2. У разі відсутності замовлених Покупцем Товарів на складі Продавця, останній вправі виключити зазначений Товар із Замовлення / анулювати Замовлення Покупця, повідомивши про це Покупця шляхом направлення відповідного електронного повідомлення за адресою, вказаною Покупцем при реєстрації (або дзвінком). </p>
                    <p>3. Покупець несе повну відповідальність за надання невірних відомостей, що спричинило за собою неможливість належного виконання Продавцем своїх зобов'язань перед Покупцем. </p>
                    <p>4. У разі скасування повністю або частково передплаченого Замовлення вартість анульованого Товару повертається Продавцем Покупцю способом, яким Товар був оплачений. </p>
                    <p>5. Після оформлення Замовлення на Сайті Покупцю надається інформація про передбачувану дату доставки шляхом надіслання електронного повідомлення за адресою, вказаною Покупцем при реєстрації, або за телефоном в якому буде вказано номер товарно-транспортної накладної. </p>
                    <p>6. Очікувана дата передачі Замовлення в Службу доставки повідомляється електронною поштою. Дата передачі Товару може бути змінена Продавцем в односторонньому порядку в разі наявності об'єктивних, на думку Продавця, причин.</p>

                    <br><h2><b>4. Доставка замовлення</b></h2><br>
                    <p>1. Товар доставляється поштовим оператором у вигляді поштового відправлення з передоплатою або післяплатою. </p>
                    <p>2. Територія доставки Товарів, представлених на Сайті, обмежена межами України. Покупець також погоджується, що територія доставки Товарів, що реалізуються іншими Продавцями, може бути обмежена. Інформація про території доставки Товарів, що реалізуються іншими Продавцями, представлена на відповідних сторінках Продавців на Сайті. </p>
                    <p>3. Затримки в доставці зважаючи на можливі непередбачені обставини, що сталися не з вини Продавця. </p>
                    <p>4. Ризик випадкової загибелі або випадкового пошкодження Товару переходить до Покупця з моменту отримання товару у відділенні перевізника та проставлення Одержувачем Замовлення підпису в документах, що підтверджують доставку Замовлення. </p>
                    <p>5. Вартість доставки кожного Замовлення розраховується індивідуально, виходячи з ваги Товару, регіону і способу доставки, і вказується на Сайті на останньому етапі оформлення Замовлення. </p>
                    <p>6. Обов'язок Продавця передати товар Покупцеві вважається виконаним у момент отримання Покупцем відправлення, як цей момент визначається у відповідності з діючими правилами поштового зв'язку. </p>

                    <div class="col-sm-offset-1">
                        <p>1. Порядок доставки та розкриття Відправлень, що містять товар, визначається чинними правилами поштового зв'язку. </p>
                    </div>
                    <p>7. Користувач розуміє і погоджується з тим, що:
                        здійснення доставки - окрема послуга, що не є невід'ємною частиною придбаного Покупцем Товару, виконання якої закінчується в момент отримання Одержувачем Товару та здійснення платежу за нього. Претензії до якості придбаного Товару, які виникли після одержання та оплати Товару, розглядаються відповідно до Закону України «Про захист прав споживачів» та гарантійними зобов'язаннями Продавця. У зв'язку з цим придбання Товару з доставкою не дає Покупцеві право вимоги доставки придбаного Товару у цілях гарантійного обслуговування або заміни, не дає можливості здійснювати гарантійне обслуговування або заміну Товару за допомогою виїзду до Покупця і не передбачає можливість повернення вартості доставки Товару у випадках, коли Покупець має право на повернення грошей за Товар як такий, у відповідності з Законом України «Про захист прав споживачів».</p>

                    <br><h2><b>5. Оплата товару </b></h2><br>
                    <p>1. Ціна Товару зазначається на Сайті. У разі неправильного зазначення ціни замовленого Покупцем Товару, Продавець інформує про це Покупця для підтвердження Замовлення за фіксованою ціною або анулювання Замовлення. При неможливості зв'язатися з Покупцем дане Замовлення вважається анульованим. </p>
                    <p>2. Ціна Товару на Сайті може бути змінена Продавцем в односторонньому порядку. При цьому ціна на замовлений Покупцем Товар зміні не підлягає. </p>
                    <p>3. Оплата Товару здійснюється Покупцем: </p>

                    <div class="col-sm-offset-1">
                        <p>• готівкою при отриманні Замовлення в сумі, що відповідає сумі Замовлення, вказаної на Сайті з урахуванням знижок</p>
                        <p>• безготівковими коштами з використанням банківських карт при оформленні Замовлення до суми, відповідної сумі Замовлення, вказаної на Сайті з урахуванням знижок. </p>
                    </div>
                    <p>4. Продавець вправі надавати знижки на Товари і встановлювати програму бонусів. Види знижок, бонусів, порядок та умови нарахування визначаються Продавцями самостійно і вказані на Сайті і можуть бути змінені Продавцем в односторонньому порядку. Знижка, встановлена відповідним Продавцем, не може бути застосована до Товару, реалізованого іншим Продавцем, якщо інше не зазначено для відповідного Товару на Сайті. </p>
                    <p>5. Продавець веде статистику оформлених Покупцем замовлень і має право в односторонньому порядку визначати способи оплати відповідного Покупцеві, грунтуючись на статистиці дій, здійснених Покупцем.</p>

                    <br><h2><b>6. Повернення товару та грошових коштів </b></h2><br>
                    <p>1. Повернення Товару здійснюється згідно з розділом «Умови повернення товару?», зазначеним на Сайті за адресою http://pasta-family.com.ua/return Правила повернення Товару можуть встановлюватися кожним відповідним Продавцем самостійно і публікуються на відповідній Сторінці Продавця. Покупець має право відмовитися від отриманого Товару і розірвати Договір купівлі-продажу протягом 14 календарних днів з дня отримання Товару, не рахуючи дня покупки, за винятком Товарів, які не підлягають обміну та поверненню відповідно до п. 7.2.4. цієї Угоди. Товар, що повертається, з усіма пломбами, ярликами повинен бути надісланий Покупцем або поштою відділення кур'єрської служби "Нова Пошта" у відділення 27 м. Києва на ім'я Петросянц Єрик +380501365403. Відправка товарів здійснюється за рахунок Покупця. Також Товар можна повернути кур'єром при отриманні нового замовлення.</p>
                    <p>2. Повернення Товару : </p>

                    <div class="col-sm-offset-1">
                        <p>1. Якщо після відкриття фірмової упаковки Покупець у разі виявлення грубого дефекту захисної мембрани або контролю першого відкриття. </p>
                        <p>2. Якщо в продукті були виявлені зайві предмети, які не перераховані у складі продукту.</p>

                    </div>
                    <p>3. Покупці, які оплачують товар у відділенні перевізника зобов'язані на місці отримання перевірити цілісність упаковки, що автоматично виключити вірогідність пункту 6.2.1.
                    <p>4. Повернення засобів: </p>
                    <div class="col-sm-offset-1">
                        <p>1. Повернення засобів відбувається лише після відправлення товару покупцем, у відділення кур'єрської служби "Нова Пошта" у відділення  № 27 м. Києва на ім'я Петросянц Єрик +380501365403, продавцеві для проведення експертизи, аналізом якої буде встановлений характер  ушкодження товару і сторона, яка привела до ушкодження, цілісності упаковки і належної якості товару. У разі виявлення експертизою, що покупець за необережністю дій, до відкриття фірмової упаковки пошкодив цілісність упаковки, засоби повернені не будуть. Або ж  у разі ушкодження товару під час доставки кур'єрською службою обраної покупцем, кошти не повертаються.</p>
                    </div>
                    <p>5. Покупець також має можливість обміняти товар на аналогічний.</p>
                    <p>6. Після отримання Замовлення претензії до зовнішніх дефектів товару, його кількості, комплектності і товарного виду не приймаються.</p>
                    <p>7. Вимоги про повернення сплаченої за товар грошової суми підлягають задоволенню впродовж 30 днів з дня пред'явлення відповідної вимоги (п. 4 ст. 12 Закону України "Про захист прав споживачів").</p>
                    <p>8. Повернення грошових коштів здійснюється за допомогою повернення вартості сплаченого Товару поштовим, банківським переказом (через Приватбанк), а також шляхом перерахування на банківську карту (карта має бути емітована на території України; валюта карти - гривна). Спосіб має бути вказаний у відповідному полі заяви на повернення Товару.</p>
                    <p>9. Гарантійний термін на Товари встановлюється виробником і вказується на етикетці або на ярлику. Продавець забезпечує належне застосування, використання товарів впродовж гарантійного терміну.</p>
                    <p>10. Продавець не відповідає за недоліки Товару, якщо вони виникли після його передачі Покупцеві внаслідок порушення Покупцем правил користування або зберігання товару, дій третіх осіб, або непереборної сили.</p>

                    <br><h2><b>7. Відповідальність </b></h2><br>
                    <p>1. Продавець не несе відповідальності за збиток, заподіяний Покупцеві внаслідок неналежного використання Товарів, придбаних в інтернет-магазині. </p>
                    <p>2. Продавець не несе відповідальності за зміст і функціонування зовнішніх сайтів.</p>

                    <br><h2><b>8. Конфіденційність і захист інформації </b></h2><br>
                    <p>1. Персональні дані Користувача/Покупця обробляється відповідно до Закону України від 01 червня 2010 року № 2297 - VI "Про захист персональних даних". </p>
                    <p>2. При оформленні замовлення Користувач надає наступну інформацію: Прізвище, Ім'я, адреса електронної пошти, номер контактного телефону. </p>
                    <p>3. Продавець використовує персональні дані Користувача/Покупця :</p>

                    <div class="col-sm-offset-1">
                        <p>- для виконання своїх зобов'язань перед Користувачем/Покупцем;</p>
                        <p>- для оцінки і аналізу роботи Сайту; </p>
                        <p>- для визначення переможця в акціях, що проводяться Продавцем.</p>

                    </div>
                    <p>4. Продавець має право відправляти інформаційні, у тому числі рекламні повідомлення, на електронну пошту і мобільний телефон Користувача/Покупця з його згоди. Користувач/Покупець має право відмовитися від отримання рекламної і іншої інформації без пояснення причин відмови. Сервісні повідомлення, що інформують Користувача/Покупця про замовлення і етапи його обробки, вирушають автоматично і не можуть бути відхилені Користувачем/Покупцем. Продавець має право використати технологію "Cookies". "Cookies" не містять конфіденційну інформацію і не передаються третім особам. Продавець має право здійснювати записи телефонних розмов з Користувачем/Покупцем. При цьому Продавець зобов'язується: запобігати спробам несанкціонованого доступу до інформації, отриманої в ході телефонних переговорів, і/або передачу її третім обличчям, що не мають безпосереднього відношення до виконання Замовлень, відповідно до Закону України від 02.10.1992 року № 2657 - XII "Про інформацію".</p>
                    <br><h2><b>Термін дії Публічної оферти </b></h2><br>
                    <p>Справжня Публічна оферта набуває чинності з моменту її акцепту Відвідувачем Сайту/Покупцем, і діє до моменту відгуку акцепту Публічної оферти.</p>
                    <br><h2><b>Додаткові умови </b></h2><br>
                <p>Продавець має право переуступати або яким-небудь іншим способом передавати свої права і обов'язки, витікаючі з його стосунків з Покупцем, третім особам. Інтернет-магазин і сервіси, що надаються, можуть тимчасово частково або повністю недоступні унаслідок проведення профілактичних або інших робіт або з будь-яких інших причин технічного характеру. Технічна служба Продавця має право періодично проводити необхідні профілактичні або інші роботи з попереднім повідомленням Покупців або без такого. До стосунків між Користувачем/Покупцем і Продавцем застосовуються положення законодавства України.</p>
                    <p>У разі виникнення питань і претензій з боку Користувача/Покупця він може звернутися до Продавця по телефону або іншим доступним способом. Що усе, що виникає спори сторони намагатимуться вирішити шляхом переговорів, при недосягненні угоди спор буде переданий на розгляд в судовий орган відповідно до чинного законодавства України. Визнання судом недійсної якого-небудь положення справжньої Угоди не спричиняє за собою недійсну інших положень.</p>
                </div>
                </div>
        </article>
    </div>
</div>
{% endblock %}
