{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('Оферта') }}{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <article>
            <div class="contact_us col-sm-6 col-sm-offset-3">
                <div class="wpb_wrapper" align="left">
                    <h1>Основные понятия</h1>
                    <div class="line"></div>
                    <p>• <b>Посетитель Сайта</b> — лицо, посетившее сайт http://www. http://pasta-family.com.ua/ без цели размещения Заказа.</p>
                    <p>• <b>Пользователь</b> — физическое лицо, посетитель Сайта, принимающий условия пользовательского соглашения и желающий оформить Заказы на сайте http://pasta-family.com.ua/.</p>
                    <p>• <b>Покупатель</b> — Пользователь, разместивший Заказ на сайте http://pasta-family.com.ua/ в целях приобретения товара для личных нужд.</p>
                    <p>• <b>Продавец</b> —физическое лицо-предприниматель, товар который размещен в Интернет-магазине (товар, реализуемый физическими лицами-предпринимателями).</p>
                    <p>• <b>Интернет-магазин</b> — Интернет-сайт, расположенный в сети интернет по адресу http://pasta-family.com.ua/, где представлены Товары, предлагаемые Продавцом для приобретения, а также условия оплаты и доставки Товаров Покупателям.</p>
                    <p>• <b>Сайт</b> — http://pasta-family.com.ua/</p>
                    <p>• <b>Страница Продавца</b> — страница Сайта, содержащая сведения об условиях продажи, доставки и возврата Товаров, реализуемых Продавцами. </p>
                    <p>• <b>Товар</b> — продукты питания и иные товары, представленные к продаже на Сайте Продавца.</p>
                    <p>• <b>Заказ</b> — должным образом оформленный запрос Покупателя на приобретение и доставку по указанному Покупателем адресу Товаров, выбранных на Сайте.</p>
                        <br><h2><b>1. Общие положения</b></h2><br>
                    <p>1. Продавец осуществляет продажу Товаров через Интернет-магазин по адресу http://pasta-family.com.ua/ .
                    <p>2. Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями продажи Товаров, изложенными ниже (далее – Условия продажи товаров). В случае несогласия Пользователь обязан немедленно прекратить использование сервиса и покинуть сайт http://pasta-family.com.ua/</p>
                    <p>3. Настоящие Условия продажи товаров, а также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст. 633 Гражданского кодекса Украины.</p>
                    <p>4. Настоящие условия могут быть изменены Продавцом в одностороннем порядке без уведомления Пользователя/Покупателя. Новая редакция Условий вступает в силу с момента ее опубликования на Сайте, если не будет предусмотрено иное.</p>
                    <p>5. Пользовательское соглашение (далее – Соглашение) вступает в силу с момента отправки Покупателю Продавцом электронного подтверждения принятия Заказа при оформлении Покупателем Заказа без авторизации на Сайте, а также с момента принятия от Покупателя Заказа по телефонах +38 (096) 144-38-88,  +38 (095) 744-38-88,</p>

                    <div class="col-sm-offset-1">
                        <p>1. Договор розничной купли-продажи Товара считается заключенным с момента оформления заказа на сайте http://pasta-family.com.ua/</p>
                        <p>2. Сообщая Продавцу свой e-mail и номер телефона, Посетитель Сайта/Пользователь/Покупатель дает согласие на использование указанных средств связи Продавцом, а также третьими лицами, привлекаемыми им для целей выполнения обязательств перед Посетителями Сайта/Пользователями/Покупателями, в целях осуществления рассылок рекламного и информационного характера, содержащих информацию о скидках, предстоящих и действующих акциях и других мероприятиях Продавца, о передаче заказа в доставку, а также иную информацию, непосредственно связанную с выполнением обязательств Покупателем в рамках настоящей Публичной оферты. Осуществляя Заказ, Пользователь/Покупатель соглашается с тем, что Продавец может поручить исполнение Договора третьему лицу, при этом оставаясь ответственным за его исполнение.</p>

                    </div>
                    <p>6. Все права и обязательства по заключенному с Пользователем Договору возникают непосредственно у Продавца, при этом Покупатель, принимая настоящее Соглашение, полностью понимает и соглашается. </p>
                    <br><h2><b>2. Предмет соглашения</b></h2><br>
                    <p>1. Предметом Соглашения является предоставление возможности Пользователю приобретать для личных, семейных, домашних и иных нужд,  Товары, представленные в каталоге Интернет-магазина по адресу http://pasta-family.com.ua/</p>
                    <p>2. Данное Соглашение распространяется на все виды Товаров и услуг, представленных на Сайте, пока такие предложения с описанием присутствуют в каталоге Интернет-магазина.</p>

                    <br><h2><b>3. Товар и порядок совершения покупки</b></h2><br>
                    <p>1. Продавец обеспечивает наличие на своем складе Товаров, представленных на Сайте. Сопровождающие Товар фотографии являются простыми иллюстрациями к нему и могут отличаться от фактического внешнего вида Товара. Сопровождающие Товар описания/характеристики не претендуют на исчерпывающую информативность и могут содержать опечатки. </p>
                    <p>2. В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе исключить указанный Товар из Заказа / аннулировать Заказ Покупателя, уведомив об этом Покупателя путем направления соответствующего электронного сообщения по адресу, указанному Покупателем при регистрации (либо звонком).</p>
                    <p>3. Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее за собой невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.</p>
                    <p>4. В случае отмены полностью либо частично предоплаченного Заказа стоимость аннулированного Товара возвращается Продавцом Покупателю способом, которым Товар был оплачен.</p>
                    <p>5. После оформления Заказа на Сайте Покупателю предоставляется информация о предполагаемой дате доставки путем направления электронного сообщения по адресу, указанному Покупателем при регистрации, или по телефону в котором будет указан номер  товарно транспортной накладной. </p>
                    <p>6. Ожидаемая дата передачи Заказа в Службу доставки сообщается  по электронной почте. Дата передачи Товара может быть изменена Продавцом в одностороннем порядке в случае наличия объективных, по мнению Продавца, причин.</p>

                    <br><h2><b>4. Доставка заказа</b></h2><br>
                    <p>1. Товар доставляется почтовым оператором в виде почтового отправления с предоплатой или наложенным платежом. </p>
                    <p>2. Территория доставки Товаров, представленных на Сайте, ограничена пределами Украины. Покупатель также соглашается, что территория доставки Товаров, реализуемых иными Продавцами, может быть ограничена. Информация о территории доставки Товаров, реализуемых иными Продавцами, представлена на соответствующих страницах Продавцов на Сайте.</p>
                    <p>3. Задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.</p>
                    <p>4. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента получение товара в отделении перевозчика и проставления Получателем Заказа подписи в документах, подтверждающих доставку Заказа.</p>
                    <p>5. Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из веса Товара, региона и способа доставки, и указывается на Сайте на последнем этапе оформления Заказа.</p>
                    <p>6. Обязанность Продавца передать товар Покупателю считается исполненной в момент получения Покупателем отправления, как этот момент определяется в соответствии с действующими правилами почтовой связи.</p>

                    <div class="col-sm-offset-1">
                        <p>1. Порядок доставки и раскрытия Отправлений, содержащих товар, определяется действующими правилами почтовой связи.</p>
                    </div>
                    <p>7. Пользователь понимает и соглашается с тем, что:
                        осуществление доставки - отдельная услуга, не являющаяся неотъемлемой частью приобретаемого Покупателем Товара, выполнение которой заканчивается в момент получения Получателем Товара и осуществления платежа за него. Претензии к качеству приобретенного Товара, возникшие после получения и оплаты Товара, рассматриваются в соответствии с Законом Украины «О защите прав потребителей» и гарантийными обязательствами Продавца. В связи с этим приобретение Товара с доставкой не дает Покупателю право требования доставки приобретенного Товара в целях гарантийного обслуживания или замены, не дает возможности осуществлять гарантийное обслуживание или замену Товара посредством выезда к Покупателю и не подразумевает возможность возврата стоимости доставки Товара в случаях, когда Покупатель имеет право на возврат денег за Товар как таковой, в соответствии с Законом Украины «О защите прав потребителей».</p>

                    <br><h2><b>5. Оплата товара</b></h2><br>
                    <p>1. Цена Товара указывается на Сайте. В случае неверного указания цены заказанного Покупателем Товара, Продавец информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным.</p>
                    <p>2. Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит.</p>
                    <p>3. Оплата Товара осуществляется Покупателем:</p>

                    <div class="col-sm-offset-1">
                        <p>1. наличными денежными средствами при получении Заказа в сумме, соответствующей сумме Заказа, указанной на Сайте с учетом скидок;</p>
                        <p>2. безналичными денежными средствами с использованием банковских карт при оформлении Заказа в сумме, соответствующей сумме Заказа, указанной на Сайте с учетом скидок.</p>

                    </div>
                    <p>4. Продавец вправе предоставлять скидки на Товары и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления определяются Продавцами самостоятельно и указаны на Сайте и могут быть изменены Продавцом в одностороннем порядке. Скидка, установленная соответствующим Продавцом, не может быть применена к Товару, реализуемому иным Продавцом, если иное не указано для соответствующего Товара на Сайте.</p>
                    <p>5. Продавец ведет статистику оформленных Покупателем заказов и вправе в одностороннем порядке определять способы оплаты, доступные соответствующему Покупателю, основываясь на статистике действий, совершенных Покупателем.</p>

                    <br><h2><b>6. Возврат товара и денежных средств</b></h2><br>
                    <p>1. Возврат Товара осуществляется в соответствии с разделом «Условия возврата товара?», указанным на Сайте по адресу http://pasta-family.com.ua/ru/return Правила возврата Товара могут устанавливаться каждым соответствующим Продавцом самостоятельно и публикуются на соответствующей Странице Продавца. Покупатель вправе отказаться от полученного Товара и расторгнуть Договор купли-продажи в течение 14 календарных дней со дня получения Товара, не считая дня покупки, за исключением Товаров, которые не подлежат обмену и возврату в соответствии с п. 7.2.4. настоящего Соглашения. Возвращаемый товар, со всеми пломбами, ярлыками должен быть выслан Покупателем либо почтой в отделение курьерской службы "Новая Почта" в отделение 27 м. Киева по имени Петросянц Ерик +380501365403.  Отправка товаров осуществляется за счёт Покупателя. Также Товар можно вернуть курьером при получении нового заказа.</p>
                    <p>2. Возврат Товара:</p>

                    <div class="col-sm-offset-1">
                        <p>1. Если после открытия фирменной упаковки Покупатель в случае выявления грубого дефекта защитной мембраны или контроля первого открытия. </p>
                        <p>2. Если в продукте были обнаружены лишние предметы, которые не перечислены в составе продукта. </p>

                    </div>
                    <p>3. Покупатели, которые оплачивают товар в отделении перевозчика обязанные на месте получения проверить целостность упаковки, что автоматически исключить вероятность пункта 6.2.1.</p>
                    <p>4. Возвращение средств  </p>
                    <div class="col-sm-offset-1">
                        <p>1. Возвращения средств происходит лишь после отправления товара покупателем, в отделение курьерской службы "Новая Почта" в отделение № 27 г. Киев на имя Петросянц Ерик +380501365403, продавцу для проведения экспертизы, анализом которой будет установлен характер повреждения товара и сторона, которая привела к повреждению, целостности упаковки и надлежащего качества товара. В случае выявления экспертизой, что покупатель за неосторожностью действий, к открытию  фирменной упаковки повредил целостность упаковки, средства возвращены не будут. Или же в случае повреждения товара во время доставки курьерской службой избранной покупателем, средства не возвращаются.  </p>
                    </div>
                    <p>5. Покупатель также имеет возможность обменять товар на аналогичный.</p>
                    <p>6. После получения Заказа претензии к внешним дефектам товара, его количеству, комплектности и товарному виду не принимаются.</p>
                    <p>7. Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в течение 30 дней со дня предъявления соответствующего требования (п. 4 ст. 12 Закона Украины «О защите прав потребителей»).</p>
                    <p>8. Возврат денежных средств осуществляется посредством возврата стоимости оплаченного Товара почтовым, банковским переводом (через ПриватБанк), а также путем перечисления на банковскую карту (карта должна быть эмитирована на территории Украины; валюта карты - гривна). Способ должен быть указан в соответствующем поле заявления на возврат Товара.</p>
                    <p>9. Гарантийный срок на Товары устанавливается производителем и указывается на этикетке или на ярлыке. Продавец обеспечивает надлежащее применение, использование товаров в течение гарантийного срока.</p>
                    <p>10.	Продавец не отвечает за недостатки Товара, если они возникли после его передачи Покупателю вследствие нарушения Покупателем правил пользования или хранения товара, действий третьих лиц, либо непреодолимой силы.</p>

                    <br><h2><b>7. Ответственность</b></h2><br>
                    <p>1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров, приобретенных в Интернет-магазине.</p>
                    <p>2. Продавец не несет ответственности за содержание и функционирование внешних сайтов.</p>

                    <br><h2><b>8. Конфиденциальность и защита информации</b></h2><br>
                    <p>1. Персональные данные Пользователя/Покупателя обрабатывается в соответствии с Законом Украины от 01 июня 2010 года № 2297-VI «О защите персональных данных».</p>
                    <p>2. При оформлении заказа Пользователь предоставляет следующую информацию: Фамилия, Имя, адрес электронной почты, номер контактного телефона.</p>
                    <p>3. Продавец использует персональные данные Пользователя/Покупателя:</p>

                    <div class="col-sm-offset-1">
                        <p>• для выполнения своих обязательств перед Пользователем/Покупателем;</p>
                        <p>• для оценки и анализа работы Сайта;</p>
                        <p>• для определения победителя в акциях, проводимых Продавцом.</p>
                    </div>
                    <p>4. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон Пользователя/Покупателя с его согласия. Пользователь/Покупатель вправе отказаться от получения рекламной и другой информации без объяснения причин отказа. Сервисные сообщения, информирующие Пользователя/Покупателя о заказе и этапах его обработки, отправляются автоматически и не могут быть отклонены Пользователем/Покупателем.
                        Продавец вправе использовать технологию «Cookies». «Cookies» не содержат конфиденциальную информацию и не передаются третьим лицам.
                        Продавец вправе осуществлять записи телефонных разговоров с Пользователем/Покупателем. При этом Продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению Заказов, в соответствии с Законом Украины от 02.10.1992 года № 2657-XII «Об информации».</p>

                    <br><h2><b>Срок действия Публичной оферты</b></h2><br>
                    <p>Настоящая Публичная оферта вступает в силу с момента её акцепта Посетителем Сайта/Покупателем, и действует до момента отзыва акцепта Публичной оферты.</p>
                    <br><h2><b>Дополнительные условия</b></h2><br>
                    	<p>Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
	Интернет-магазин и предоставляемые сервисы могут временно частично или полностью недоступны по причине проведения профилактических или иных работ или по любым другим причинам технического характера. Техническая служба Продавца имеет право периодически проводить необходимые профилактические или иные работы с предварительным уведомлением Покупателей или без такового.
	К отношениям между Пользователем/Покупателем и Продавцом применяются положения законодательства Украины.
	В случае возникновения вопросов и претензий со стороны Пользователя/Покупателя он может обратиться к Продавцу по телефону или иным доступным способом. Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Украины.
                            Признание судом недействительности какого-либо положения настоящего Соглашения не влечет за собой недействительность остальных положений.</p>

                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
