{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('Возврат товара') }}{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <article>
            <div class="contact_us col-sm-6 col-sm-offset-3">
                <div class="wpb_wrapper" align="left">
                    <h1>Возврат товара</h1>
                    <div class="line"></div>
                    <p>Возвращение товара происходит в таких случаях: </p>
                    <div class="col-sm-offset-1">
                        <p>1. Если после открытия фирменной упаковки Покупатель обнаружыл грубый дефект защитной мембраны или контроля первого открытия тары. </p>
                        <p>2. Если в продукте были обнаружены лишние предметы, которые не перечислены в составе продукта. </p>
                    </div>
                    <p>Покупатели, которые оплачивают товар в отделении перевозчика обязанные на месте получения проверить целостность упаковки, что автоматически исключить вероятность пункта 6.1.</p>
                    <h1>Возвращение средств</h1>
                    <div class="line"></div>
                    <p>Возвращения средств происходит лишь после отправления товара покупателем, в отделение курьерской службы "Новая Почта" в отделение 27 м. Киева по имени Петросянц Ерик +380501365403, продавцу для проведения экспертизы, анализом которой будет установлен характер повреждения товара и сторона, которая привела к повреждению, целостности упаковки и надлежащего качества товара.</p>
                    <p>В случае выявления экспертизой, что покупатель за неосторожностью действий, к открытию фирменной упаковки повредил целостность упаковки, средства возвращены не будут. Или же в случае повреждения товара во время доставки курьерской службой избранной покупателем, средства не возвращаются.  </p>
                    <p>Срок возвращения средств подлежат удовлетворению в течение 30 дней со дня предъявления соответствующего требования (п. 4 ст. 12 Закона Украины «О защите прав потребителей»).</p>
                    <p>Возврат денежных средств осуществляется посредством возврата стоимости оплаченного Товара почтовым, банковским переводом (через ПриватБанк), а также путем перечисления на банковскую карту (карта должна быть эмитирована на территории Украины; валюта карты - гривна). Способ должен быть указан в соответствующем поле заявления на возврат Товара. </p>
                    <p>Покупатель также имеет возможность обменять товар на аналогичный.</p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
