{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('Повернення товару') }}{% endblock %}
{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <article>
            <div class="contact_us col-sm-6 col-sm-offset-3">
                <div class="wpb_wrapper" align="left">
                    <h1>Повернення товару</h1>
                    <div class="line"></div>
                    <p>Повернення товару відбувається у таких випадках:</p>
                    <div class="col-sm-offset-1">
                        <p>1. Якщо після відкриття фірмового пакування Покупець виявив грубий дефект захисної мембрани або контролю першого відкриття тари.</p>
                        <p>2. Якщо у продукті було виявлено зайві предмети, які не перераховані у складі продукту.</p>
                    </div>
                    <p>Покупці, які оплачують товар у відділенні перевізника зобов`язані на місці отримання перевірити цілісність упаковки, що автоматично виключає  ймовірність пункту 6.1.</p>
                    <h1>Повернення коштів</h1>
                    <div class="line"></div>
                    <p>Повернення коштів відбувається лише після відправлення товару покупцем, у відділення кур`єрської служби "Нова Пошта" у відділення 27 м. Києва на ім`я Петросянц Ерік, +380501365403, продавцю для проведення експертизи, аналізом якої буде встановлено характер пошкодження товару та сторону, що призвела до пошкодження, цілісності упаковки та належної якості товару.</p>
                    <p>У разі виявлення експертизою, що покупець за необережністю дій, до відкриття фірмового пакування пошкодив цілісність упаковки, кошти повернені не будут. Або ж у випадку пошкодження товару під час доставлення кур`єрською службою обраною покупцем, кошти не повертаються.</p>
                    <p>Термін повернення засобів підлягають задоволенню протягом 30 днів з дня пред'явлення відповідної вимоги (п. 4 ст. 12 Закону України «Про захист прав споживачів»).</p>
                    <p>Повернення грошових коштів здійснюється за допомогою повернення вартості сплаченого Товару поштовим, банківським переказом (через Приватбанк), а також шляхом перерахування на банківську карту (карта має бути емітована на території України; валюта карти - гривня).</p>
                    <p>Покупець також має можливість обміняти товар на аналогічний йому.</p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
